<p style="color: green"><%= notice %></p>
<h1>events</h1>
<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", events_path %>
    </p>
  <% end %>
</div>
