<body class="back">

  <div class="video-content">
    <div class="content">
        <br>
        <br>
        <br>
        <h1>Trees for a Forest</h1>
        <h6>Lend a hand to plant a tree</h6>
        <br>
        <br>
        <div class="btn btn-ghost">
              <%= link_to "Start now", events_path, class: "nav-link fs-5" %>
        </div>
    </div>
    <%= video_tag "video1.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "back-video" %>
  </div>

  <div class="space"></div>

    <div id="footer-div">

    <%# TREE COUNTER %>

    <div class="trees-planted">
      <h1>TREES PLANTED</h1>
    </div>

    <div class="counter">
      <h2 id="tree-counter"></h2>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <%# FOOTER %>

    <div class="footer-content d-flex justify-content-around">
      <ul class="footer-text">
        <li>About&nbsp</li>
        <li>Services&nbsp</li>
        <li>Press&nbsp</li>
        <li>Careers&nbsp</li>
        <li>FAQs&nbsp</li>
        <li>Contacts&nbsp</li>
      </ul>
    </div>

    <div style="color:#285430" class= "d-flex justify-content-center ">
      <p style="font-size: 20px"><strong>Stay in touch</strong></p>
    </div>



    <div class="socials d-flex justify-content-around fs-3">
      <ul>
        <i class="fa-brands fa-tiktok">&nbsp&nbsp</i>

        <i class="fa-brands fa-instagram">&nbsp&nbsp</i>
        <i class="fa-brands fa-square-twitter">&nbsp&nbsp</i>
        <i class="fa-brands fa-facebook">&nbsp&nbsp</i>
      </ul>
    </div>

</body>

  <%# IMAGE FOOTER %>

  <%# <div class="forest"> %>
    <%# <%= image_tag "footer_image.png" %>
  <%# </div> %>
</div>
