
<div class="video-content">
  <div class="content">
      <h1>Trees for a Forest</h1>
      <h6>Land a hand to plant a tree</h6>
      <br>
      <br>
      <a  class="btn btn-ghost" href="#">Start now</a>
  </div>
  <%= video_tag "pine_forest.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "back-video" %>
</div>


<div class="trees-planted">
  <h1>TREES PLANTED</h1>
</div>

<div class="counter">
  <h2 id="tree-counter"></h2>
</div>

<div class="footer">
  <%= image_tag "footer_image.png" %>
</div>
