.card {
  border-radius: 8px;
  box-shadow: 0px 5px 6px #adb5bd;
  font-family: Roboto, sans-serif;
}

.col-md-4 {
  display: flex;
  align-items: center;
  justify-content: center;

}

.card-title {
  color: #285430;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

.card-date {
  color: #000000;
  font-family: Roboto, sans-serif;
}

.card-organization {
  color: #A4BE7B;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

