.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.map {
  position: sticky;
  top: 0;
  padding: 2;
  border-radius: 8px;
  box-shadow: 0px 5px 6px #adb5bd;
  font-family: Roboto, sans-serif;
}
