.l {
  text-decoration: none;
}

.card-text {
  font-family: Roboto, sans-serif;
}

.card-title-organization {
  font-family: Roboto, sans-serif;
  color: black;
  font-weight: bold;
}

.fa-star {
  color: #E7D323;
}
