.calendar {
  margin: 0;
  padding: 0;
  padding-top: 200px;
  text-align: start;
  // margin-left: 270px;
}

.title-organization h1 {
  color: #285430;
  padding: 10px 0 0 0 ;
}

.firstname {
  text-align: center;
  color: black;
}

.firstname-link a {
  text-decoration: none;
  font-weight: bold;

}

.details {
  font-weight: bold;
  padding-top: 40px;
  color: #285430;
  font-family: Roboto, sans-serif;
}

.description {
  font-size: 23px;
  color: black;
}

.capacity {
  font-size: 25px;
  color: black;
  font-weight:bold;
  font-family: Roboto, sans-serif;
}

.title-organization-event .banner h1 {
  color: #A4BE7B;
}
