<h1>Organizations</h1>
<% @organizations.each do |organization| %>
  <p>
    <%= image_tag organization.photo_url, class:"img-fluid ", :width=>100, :height=>100, :gravity=>"auto", :crop=>"fill" %>
    <%= link_to organization.name, organization_path(organization) %>
    <%# <% @reviews.each do  %>
    <%# <%= @organizations.events.last.bookings.last.reviews.count %>
    <%= raise %>
  </p>
<% end %>
